<div class="comments">
    {{#each this}}
    <div id="comments">
        <div class="meta ml-2">
            {{user.first_name}} {{user.last_name}} posted on {{format_date created_at}}
        </div>
        <div class="text ml-2">
            {{comment_text}}
        </div>
        {{#if loggedIn}}
        <div> <button type="deleteCommentBtn" class="button is-danger ml-3 deleteCommentBtns" data-id={{this.id}}>Delete
                this
                Comment</button>
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>