<div class="dashboard">
    <h1>
        <h2 class="has-text-centered is-size-1">
            User Dashboard
        </h2>
    </h1>
    <div class="custom-flex">
        <button class="button is-success"><a href="/createPost">Create New Blog</a></button>
    </div>
    <h1>
        <h2 class="has-text-centered is-size-2">
            My Blog Posts
        </h2>
        <div>
            {{#each user.posts as |post|}}
            <div class="column" id="blogs">
                <span class="nameDate"> Created:
                    {{format_date post.created_at}}</span>
                <h1 id="blog-title"><strong>{{post.title}}</strong></h1>
                <p>{{post.description}}</p>
                <button class="button is-success"><a href='/posts/{{post.id}}'>View this Blog</a></button>
                <button data-post={{post.id}} class="button is-danger deleteBtn">Delete this Blog</button>
            </div>
            {{/each}}
        </div>
    </h1>
</div>

<script src="/JS/script.js"></script>